*{font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    background-image: url(Default_Astronaut_holding_hamburger_blue_and_red_neon_color_ba_1.png);
}



.menu{padding: 5px;
    text-align: right;
}


.menu a{text-decoration: none;
    padding: 15px;
    color: black;
    text-shadow:5px 5px 5px unset;
    background-color: transparent;
}

.menu li{display: initial;
    font-size: 20px;
    margin-left: 5px;
    background-color: transparent;
}

.menu a:hover{background-color: rgba(235, 23, 23, 0.788);
    text-shadow: 2px 2px 2px unset;
    border-radius: 7px;
    transition: 0.3s;
}

.menu a:active{background-color: rgba(0, 0, 0, 0.767);
    color: white;
}

