*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin: 0;
    padding: 0;
}

.menu{
    margin: auto;
    align-items: center;
    display: flex;
    padding: 10px;
    text-align: left;
    margin-bottom: 3%;
}

.menu a{
    text-decoration: none;
    padding: 15px;
    color: black;
    text-shadow: 5px 5px 5px unset;
}

.menu li{
    list-style: none;
    font-size: 20px;
    margin-left: 5px;
}

.menu a:hover{
    background-color: rgba(235, 23, 23, 0.788);
    text-shadow: 2px 2px 2px unset;
    border-radius: 7px;
    transition: 0.3s;
}

.menu a:active{
    background-color: blue;
    color: white;
}

.slider{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    margin-bottom: 4.5%;
    gap: 0.5rem;
}

.slider-img{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 90vh;
}

.container-img{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    height: 90vh;
}

.on{
    opacity: 1;
}

p{
    align-items: justify;
    margin: 3vh;
}

iframe{
    margin: 1%;
    width: 40%;
}

#wapp:hover{
    background-color: #25d366;
    text-shadow: 2px 2px 2px unset;
    border-radius: 7px;
    transition: 0.3s;
}

#prev, #next{
    width: 40px;
    cursor: pointer;
    margin: 0.7%;
}

#prev img, #next img{
    width: 100%;
    height: 100%;
}

#next:hover{
    background-color: rgba(235, 23, 23, 0.788);
    text-shadow: 2px 2px 2px unset;
    border-radius: 7px;
    transition: 0.3s;
}

#prev:hover{
    background-color: blue;
    text-shadow: 2px 2px 2px unset;
    border-radius: 7px;
    transition: 0.3s;
}

footer {
    background: rgb(227,5,5);
    background: linear-gradient(90deg, rgba(227,5,5,1) 59%, rgba(4,69,163,0.8407738095238095) 69%);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

@media screen and (max-width: 900px){
    .slider-img{
        width: 100%;
        height: 70vh;
    }
    .container-img{
        margin: 0;
        width: 100%;
        height: 70vh;
    }
}

@media screen and (max-width: 800px){   
    .slider-img{
        width: 100%;
        height: 65vh;
    }
    .container-img{
        margin: 0;
        width: 100%;
        height: 65vh;
    }
}

@media screen and (max-width: 700px){
    .slider-img{
        width: 100%;
        height: 50vh;
    }
    .container-img{
        margin: 0;
        width: 100%;
        height: 50vh;
    }

}

@media screen and (max-width: 600px){
    .slider-img{
        width: 100%;
        height: 35vh;
    }
    .container-img{
        margin: 0;
        width: 100%;
        height: 35vh;
    }
}