*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;  
    margin: 0;
    padding: 0;
}

.menu{
    margin: auto;
    align-items: center;
    display: flex;
    padding: 10px;
    text-align: left;
    margin-bottom: 3%;
}

.menu a{
    text-decoration: none;
    padding: 15px;
    color: black;
    text-shadow: 5px 5px 5px unset;
}

.menu li{
    list-style: none;
    font-size: 20px;
    margin-left: 5px;
}

.menu a:hover{
    background-color: rgba(235, 23, 23, 0.788);
    text-shadow: 2px 2px 2px unset;
    border-radius: 7px;
    transition: 0.3s;
}

.menu a:active{
    background-color: blue;
    color: white;
}

p{  
    align-items: justify;
    margin: 3vh;
    margin-bottom: 4vh;
}

h1{
    font-size: larger;
    margin: 3vh;
    text-align: center;
}

hr{
    margin: 0.5%;
    padding: 1px;
    background-color: red;   
}

#wapp:hover{
    background-color: #25d366;
    text-shadow: 2px 2px 2px unset;
    border-radius: 7px;
    transition: 0.3s;
}

footer {
    width: 100%;
    margin-top: 6vh;
    background: rgb(227,5,5);
    background: linear-gradient(90deg, rgba(227,5,5,1) 59%, rgba(4,69,163,0.8407738095238095) 69%);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}