*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(75, 75, 75);
}

h1{
    text-align: center;
    color: white;
}

input{
    border-radius: 50px;
    border-color: rgb(75, 187, 75);
}

::placeholder{
    background-color: transparent;
    border-radius: 50px;
}

form {background-color: rgb(161, 161, 161);
    border-radius: 50px;
    font-size: medium;
    width: 600px;
    height: auto;
    text-align: center;
    margin: auto;
    align-items: center;
    color: rgb(0, 80, 0);
}

